<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto my-5">
      <h4 class="">Create Photo's form</h4>
        <%= form_with model: @photo do |f| %>
          <div class="form-group">
            <h4>Photo</h4>
              <%= f.file_field :photo, accept: "image/*" %>
          </div>
          <div class="form-group">
            <h4>Title</h4>
              <%= f.text_field :photo_name, class:"form-control" %>
          </div>
          <div class="form-group">
            <h4>Caption</h4>
              <%= f.text_area :caption, class:"form-control" %><br />
          </div>
          <div class="form-group">
            <%= f.submit 'Post', class:"btn btn-info form-control" %>
          </div >
        <% end %>
    </div>
  </div>
</div>